:root {
  --background-main: #2a2b3a;
  --box-main: #6b305c;
  --input: #a03c3c;
  --text: #cabbc9;
}

body {
  background-color: var(--background-main);
}

.window {
  margin: 0;
  padding: 0;
  max-height: 97vh;
  min-height: 97vh;
  max-width: 98vw;
  min-width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 90%;
  height: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  /* set of text and input horizontal */
  display: flex;
  align-items: center;
}

.input-box {
 /* box of an input field  */
 height: 80%;
 background-color: var(--input);
}

.login-input {
  width: 50%;
  font-size: 1.5rem;
}

.plain-text {
  width: fit-content;
}

.hide {
  /* hide */
  display: none;
}

.nopad {
  /* takes off all padding and margin */
  margin: 0;
  padding: 0;
}


.login-btn {
  width: 50%;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}

.adder-box {
  width: 80vw;
  border-radius: 1em;
  padding: .5em .5em .5em .5em;
}

.purchases {
  /* box of all purchases */
  width: 80vw;
  border-radius: 1em;
  padding: .5em .5em .5em .5em;
}

.box {
  background: var(--box-main);
  margin: 1em 0 1em 0;
  border-radius: 1em;
  padding: .5em;
}

.input {
  background-color: var(--input);
  border: none;
  border-radius: 1em;
  padding: 0 .5em 0 .5em;
  font-size: 1rem;
}

.btn {
  background-color: var(--input);
  border: none;
  border-radius: .5em;
  margin: .5em .5em .5em .5em;
}

.text {
  color: var(--text);
}